##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

<IfModule qos_module>
   QS_ClientEntries 10000
   QS_SrvMaxConnPerIP 50
   MaxClients 256
   QS_SrvMaxConnClose 180
   QS_SrvMinDataRate 150 1200
</IfModule>
