##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

<IfModule qos_module>
   # handle connections from up to 100000 different IPs
   QS_ClientEntries {{ apache_qos_client_entries }}
   # allow only 50 connections per IP
   QS_SrvMaxConnPerIP {{ apache_qos_srv_max_conn_per_ip }}
   # limit maximum number of active TCP connections limited to 256
   MaxClients {{ apache_qos_max_clients }}
   # disables keep-alive when 180 (70%) TCP connections are occupied
   QS_SrvMaxConnClose {{ apache_qos_srv_max_conn_close }}
   # minimum request/response speed 
   # (deny slow clients blocking the server, keeping connections open without requesting anything
   QS_SrvMinDataRate {{ apache_qos_srv_min_data_rate }}
</IfModule>